@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: Bebas Neue, sans-serif;
    --primary-colour: #ff0000;
    --background-colour: #000000;
}
@media screen and (min-width: 769px) {
    #index {
        background: var(--background-colour);
        overflow-x: hidden;
        margin: 0;
    }

    #mainhome {
        display: flex;
        padding-top: 70px;
    }

    #mainhome h1{
        text-align: center;
        font-size: 150px;
        color: var(--primary-colour);
        margin-bottom: 0;
        padding-left: 60px;
        margin-right: 0;
        padding-right: 0;
    }

    #IVEot6 {
        width: 80%;
    }

    nav {
        top: 40px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        height: 60px;
        display: flex;
    }
    nav ul {
        list-style: none;
        align-content: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        position: relative;
        display: flex;
        margin: 0;
        justify-content: center;
        width: 300px;
        padding: 0;
        background: #000;
        border: 5px var(--primary-colour) solid;
    }
    nav ul li:hover {
        background: var(--primary-colour);
    }
    nav ul li div {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-colour);

        mask-image: url('images/dotpattern.png');
        mask-repeat: repeat;
        mask-position: center;
        mask-size: 1000px;

        -webkit-mask-image: url('images/dotpattern.png');
        -webkit-mask-repeat: repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: 1000px;

        z-index: 0;              /* behind text */
    }
    nav ul li:hover div {
        background-color: var(--background-colour);
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
        margin: 0;
        align-self: center;
        height: 100%;
        display: flex;
        width: 100%;
        z-index: 1;
    }
    nav ul li a p {
        width: 100%;
        align-self: center;
        text-align: center;
        margin: 0;
        font-size: 40px;
        padding: 0;
    }

    #aboutIVE {
        background: var(--primary-colour);
        margin: 0;
        padding: 10px;
        width: 100vw;
    }
    #aboutIVE h1 {
        text-align: center;
        font-size: 70px;
    }
    #aboutIVE p {
        text-align: center;
        font-size: 50px;
    }
}
@media screen and (max-width: 768px) {
    #index {
        background: var(--background-colour);
        overflow-x: hidden;
        margin: 0;
    }

    #mainhome {
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #mainhome h1{
        text-align: center;
        font-size: 15vw;
        color: var(--primary-colour);
    }

    #IVEot6 {
        width: 80%;
    }

    nav {
        top: 40px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        height: 60px;
        display: flex;
    }
    nav ul {
        list-style: none;
        align-content: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: flex;
        margin: 0;
        justify-content: center;
        width: 300px;
        padding: 0;
        background: #000;
        background-image: url("images/dotpattern.png");
        background-size: 1000px;
        background-position: center;
        border: 5px var(--primary-colour) solid;
    }
    nav ul li:hover {
        background: var(--primary-colour);
    }
    nav ul li div {

    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
        margin: 0;
        align-self: center;
        height: 100%;
        display: flex;
        width: 100%;
        z-index: 1;
    }
    nav ul li a p {
        width: 100%;
        align-self: center;
        text-align: center;
        margin: 0;
        font-size: 40px;
        padding: 0;
    }

    #aboutIVE {
        background: var(--primary-colour);
        margin: 0;
        padding: 10px;
        width: 100vw;
    }
    #aboutIVE h1 {
        text-align: center;
        font-size: 70px;
    }
    #aboutIVE p {
        text-align: center;
        font-size: 50px;
    }
}
